<h1>Star's Weather Report Station</h1>
<% if not @city.nil? %>
	<% if @has_found %>
		<% c = City.all[@city.to_sym] %>
		<h2> <%= c.name %></h2>
		<p>
			The landmark for this place is <%= c.landmark %> 
			and the population is <%= c.population %>
		</p>
	<% else %>
		<p>
			The city <b style="color: red"><%= @city %></b> that you are looking for hasn't been created yet...
		</p>
	<% end %>
<% else %>	
	<% if City.all.empty? %>
		<p>You don't have any record by far...</p>
	<% else %>
		<h4>The following are cities you have created!</h4>
		<% City.all.each_value do |c| %>
			<% if not c.nil? %>
				<h2> <%= c.name %></h2>
				<p>
					The landmark for this place is <%= c.landmark %>
					and the population is <%= c.population %>
				</p>
			<% else %>
				<p>Better give an input for us to process!</p>
			<% end %>
			<%= button_to "update this", action: "update", city: c.name, authenticity_token: @token%>
			<%= button_to "delete this", action: "delete", city: c.name, authenticity_token: @token%>
			<hr>
		<% end %>
	<% end %>
<% end %>

<h5>Wanna create/recreate a new city?</h5>
<%= button_to "Click Here", action: "new", authenticity_token: @token %>

<style>
h4 {
	color: green
}
h1 {
    color: red
}
body {
    margin-left: 30px
}
hr {
	margin-top: 25px;
	padding-right: 30px
}
</style>